.header{
  padding: 0;
  .logo{
    width: 180px;
    height: 60px;
    background: url('~@/assets/image/logo.png') repeat center / 60px auto;
  }
  .user_info{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    color: #fff;
    .user_name {
      margin-right: 20px;
    }
    .user_logout {
      display: inline-block;
      cursor: pointer;
    }
  }
}
.ant-layout {
  height: 100%;
}
.ant-layout-header {
  padding: 0 !important;
}
.ant-layout-sider{
  box-sizing: border-box;
  height: calc(100vh - 64px);
}
.layout-content {
  box-sizing: border-box;
  overflow-y: auto;
  height: calc(100vh - 64px);
}